@{
	Layout = null;
}
<opml version="1.0">
  <head>
    <title>Discover .NET Feeds</title>
  </head>
  <body>
    <outline text="Discover .NET Feeds" title="Discover .NET Feeds">
      @foreach(IDocument blog in Outputs.FromPipeline(nameof(DiscoverDotnet.Pipelines.Blogs.Blogs)))
      {
        <outline type="rss" text="@blog[SiteKeys.Title]" title="@blog[SiteKeys.Title]" xmlUrl="@blog[SiteKeys.Feed]" />
      }
      @foreach(IDocument broadcast in Outputs.FromPipeline(nameof(DiscoverDotnet.Pipelines.Broadcasts.Broadcasts)))
      {
        <outline type="rss" text="@broadcast[SiteKeys.Title]" title="@broadcast[SiteKeys.Title]" xmlUrl="@broadcast[SiteKeys.Feed]" />
      }
    </outline>
  </body>
</opml>