@{
	Layout = @"/_Layout.cshtml";
}

<h5 class="mb-0 accent-script text-secondary" style="line-height: 0">Blog</h5>
<h1 class="font-weight-bold display-4">
    @Model.String("Title")
</h1>
<div class="mt-2 mb-4 small"><a href="https://github.com/daveaglick/discoverdotnet/edit/master/input/data/blogs/@(Model.String("Key")).yml"><i class="fas fa-pencil-alt"></i> Edit This Entry</a></div>

@if(!string.IsNullOrWhiteSpace(@Model.String("Description")))
{
    <b-card class="mb-4">
        <p class="lead mb-0">@Model.String("Description")</p>
    </b-card>
}

@RenderBody()

<b-row>
    <b-col md="9" order="2" order-md="1">
		<feed-items feed-item-json="/data/posts/@(Model.String("Key")).json" icon="fa-align-left"></feed-items>
    </b-col>
    <b-col md="3" order="1" order-md="2">
		<b-card no-body class="mb-4">
            <b-card-body>
                @{
					string image = Model.String("Image");
                    string website = Model.String("Website");
                    string feed = Model.String("Feed");
                    string author = Model.String("Author");
					if(!string.IsNullOrWhiteSpace(image))
					{
						<b-img src="@(image)" fluid class="mb-4"></b-img>
					}
                    if(!string.IsNullOrWhiteSpace(website))
                    {
                        <h5>
                            <span class="fa fa-external-link-square-alt"></span> Website
                        </h5>
                        <p>
                            <a href="@(website)">{{ '@(website)' | no-protocol }}</a>
                        </p>
                    }    
                    if(!string.IsNullOrWhiteSpace(feed))
                    {
                        <h5>
                            <span class="fas fa-rss"></span> Feed
                        </h5>
                        <p>
                            <a href="@(feed)">{{ '@(feed)' | no-protocol }}</a>
                        </p>
                    }    
                    if(!string.IsNullOrWhiteSpace(author))
                    {
                        <h5>
                            <span class="fas fa-user"></span> Author
                        </h5>
                        <p>@author</p>
                    }    
                }
            </b-card-body>
		</b-card>
    </b-col>
</b-row>

@section Script {
	<script type="text/javascript">
		Vue.component('feed-items', httpVueLoader('/components/feeds/feed-items.vue'));
	</script>
}