@{
	Layout = @"/_Layout.cshtml";
}

<h5 class="mb-0 accent-script text-secondary" style="line-height: 0">Broadcast</h5>
<h1 class="font-weight-bold display-4">
    @Model.String("Title")
</h1>

<b-card class="mb-4">
	@{
		string website = Model.String("Website");
		string description = Model.String("Description");
	}
	@if(!string.IsNullOrWhiteSpace(website))
	{
		<p><a href="@(website)">{{ '@(website)' | no-protocol }}</a></p>
	}
	@if(!string.IsNullOrWhiteSpace(description))
	{
    	<p class="lead">@Html.Raw(description)</p>
	}
    @RenderBody()
</b-card>

<feed-items feed-item-json="/data/episodes/@(Model.String("Key")).json" icon="fa-headphones"></feed-items>

<script type="text/javascript">
    Vue.component('feed-items', httpVueLoader('/components/feeds/feed-items.vue'));
</script>