@{
	Layout = @"/_Layout.cshtml";
}

<h5 class="mb-0 accent-script text-secondary" style="line-height: 0">Project</h5>
<h1 class="mb-4 font-weight-bold display-4">
    @Model.String("Title") 
</h1>

<b-row>
    <b-col md="9">
        <b-card class="mb-4">
            <p class="lead">@Model.String("Description")</p>
            @RenderBody()
        </b-card>

        <b-tabs pills>
            @if(Model.ContainsKey("Readme"))
            {
                <b-tab title="Readme" class="mt-2" active>
                    <b-card>
                        @Html.Raw(Model.String("Readme"))
                    </b-card>
                </b-tab>
            }
            <b-tab title="Issues">

            </b-tab>
        </b-tabs>
    </b-col>
    <b-col md="3">
        <b-card no-body class="mb-4">
            @if(Model.ContainsKey("Website") || Model.ContainsKey("Source"))
            {
                <b-card-body>
                    @{
                        string website = Model.String("Website");
                        string source = Model.String("Source");
                        if(!string.IsNullOrWhiteSpace(website))
                        {
                            <div>
                                <a href="@(website)">
                                    <span class="fa fa-external-link-square-alt"></span>
                                    {{ '@(website)' | no-protocol }}
                                </a>
                            </div>
                        }    
                        if(!string.IsNullOrWhiteSpace(source))
                        {
                            <div>
                                <a href="@(source)">
                                    <span class="fa fa-code"></span>
                                    {{ '@(source)' | no-protocol }}
                                </a>
                            </div>
                        }
                    }
                </b-card-body>
            }
            @if(Model.ContainsKey("StargazersCount"))
            {
                <b-card-body>
                    <b-row class="text-center">
                        <b-col>
                            <div><i class="fas fa-star"></i></div>
                            <h5>@Model.String("StargazersCount")</h5>
                        </b-col>
                        <b-col>
                            <div><i class="fas fa-code-branch"></i></div>
                            <h5>@Model.String("ForksCount")</h5>
                        </b-col>
                        <b-col>
                            <div><i class="fas fa-bug"></i></div>
                            <h5>@Model.String("OpenIssuesCount")</h5>
                        </b-col>
                    </b-row>
                </b-card-body>
            }
        </b-card>
    </b-col>
</b-row>